.btn-custom {
  height: 55px;
  padding: 0 1rem;
  width: fit-content;
  appearance: none;
  border: none;
  outline: none;
  border-radius: 50px;
  font-weight: 500;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.btn-circle {
    height: 55px;
    width: 55px;
    padding: 0;
  }

  // Outline variants
  &.btn-outline-primary {
    background-color: white;
    border: 1px solid var(--color-stroke);
    color: var(--color-primary);

    &:hover {
      background-color: var(--color-primary);
      color: white;
    }
  }

  &.btn-outline-primary-dark {
    background-color: white;
    border: 1px solid var(--color-primary-dark);
    color: var(--color-primary-dark);

    &:hover {
      background-color: var(--color-primary-dark);
      color: white;
    }
  }

  &.btn-outline-success {
    background-color: white;
    border: 1px solid var(--color-success);
    color: var(--color-success);

    &:hover {
      background-color: var(--color-success);
      color: white;
    }
  }

  &.btn-outline-success-dark {
    background-color: white;
    border: 1px solid var(--color-success-dark);
    color: var(--color-success-dark);

    &:hover {
      background-color: var(--color-success-dark);
      color: white;
    }
  }

  &.btn-outline-danger {
    background-color: white;
    border: 1px solid var(--color-danger);
    color: var(--color-danger);

    &:hover {
      background-color: var(--color-danger);
      color: white;
    }
  }

  &.btn-outline-danger-dark {
    background-color: white;
    border: 1px solid var(--color-danger-dark);
    color: var(--color-danger-dark);

    &:hover {
      background-color: var(--color-danger-dark);
      color: white;
    }
  }

  &.btn-outline-warning {
    background-color: white;
    border: 1px solid var(--color-warning);
    color: var(--color-warning);

    &:hover {
      background-color: var(--color-warning);
      color: white;
    }
  }

  &.btn-outline-info {
    background-color: white;
    border: 1px solid var(--color-info);
    color: var(--color-info);

    &:hover {
      background-color: var(--color-info);
      color: white;
    }
  }

  // Filled variants
  &.btn-filled-primary {
    background-color: var(--color-primary);
    color: white;

    &:hover {
      opacity: 0.9;
    }
  }

  &.btn-filled-primary-dark {
    background-color: var(--color-primary-dark);
    color: white;

    &:hover {
      opacity: 0.9;
    }
  }

  &.btn-filled-success {
    background-color: var(--color-success);
    color: white;

    &:hover {
      opacity: 0.9;
    }
  }

  &.btn-filled-success-dark {
    background-color: var(--color-success-dark);
    color: white;

    &:hover {
      opacity: 0.9;
    }
  }

  &.btn-filled-danger {
    background-color: var(--color-danger);
    color: white;

    &:hover {
      opacity: 0.9;
    }
  }

  &.btn-filled-danger-dark {
    background-color: var(--color-danger-dark);
    color: white;

    &:hover {
      opacity: 0.9;
    }
  }

  &.btn-filled-warning {
    background-color: var(--color-warning);
    color: white;

    &:hover {
      opacity: 0.9;
    }
  }

  &.btn-filled-info {
    background-color: var(--color-info);
    color: white;

    &:hover {
      opacity: 0.9;
    }
  }
}

.icon-size {
  width: 16px;
  height: 16px;
}
