@use '../Pagination.shared.scss' as *;

.pagination-button--prev {
  @include pagination-button-base;
  padding: calculateRem(15) calculateRem(13);

  &.selected {
    background-color: $color-primary;
    color: $background;

    .pagination-button--prev__icon {
      color: $background;
    }
  }

  &.unselected {
    background-color: $color-pagination-bg;
    color: $color-pagination-text;

    &:hover:not(:disabled) {
      background-color: $color-primary;
      color: $background;

      .pagination-button--prev__icon {
        color: $background;
      }
    }
  }

  &__icon {
    width: calculateRem(14);
    height: calculateRem(14);
    color: $color-primary;
  }
}
