.footer-copyright {
  width: 100%;
  height: auto;
  min-height: calculateRem(39);
  background-color: $color-danger;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calculateRem(12) 0;

  &__text {
    font-size: calculateRem(13);
    line-height: calculateRem(16);
    font-weight: 400;
    text-align: center;
    color: $color-white;
    margin: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 0 calculateRem(12);
  }
}

@media (min-width: #{$breakpoint-mobile + 1px}) {
  .footer-copyright {
    height: calculateRem(39);
    padding: 0;

    &__text {
      font-size: calculateRem(15.5);
      line-height: calculateRem(19);
      padding: 0 calculateRem(16);
    }
  }
}
