.hero-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: calculateRem(70);
}

.hero {
  width: 100%;
  position: relative;
  height: calculateRem(500);
  aspect-ratio: 768 / 500;
  background-image: url('/images/hero.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;

  &__content-wrapper {
    position: absolute;
    top: calculateRem(120);
    left: calculateRem(20);
    right: calculateRem(20);
  }
}

@media (min-width: $breakpoint-md) {
  .hero {
    height: calculateRem(650);
    aspect-ratio: 1024 / 650;
    background-position: center center;

    &__content-wrapper {
      top: calculateRem(200);
      left: calculateRem(60);
      right: calculateRem(60);
    }
  }
}

@media (min-width: $breakpoint-xl) {
  .hero-wrapper {
    padding-top: 0;
  }

  .hero {
    height: calculateRem(600);
    aspect-ratio: 1024 / 600;
    background-position: center center;

    &__content-wrapper {
      top: calculateRem(180);
      left: calculateRem(40);
      right: calculateRem(40);
    }
  }
}

@media (min-width: $breakpoint-xxl) {
  .hero {
    height: calculateRem(750);
    aspect-ratio: 1728 / 750;
    background-position: bottom top;

    &__content-wrapper {
      top: calculateRem(265);
      left: calculateRem(144);
      right: auto;
    }
  }
}
