.hero {
  width: 100%;
  position: relative;
  height: calculateRem(750);
  aspect-ratio: 1728 / 750;
  background-image: url('/images/hero.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom top;

  &__content-wrapper {
    position: absolute;
    top: calculateRem(265);
    left: calculateRem(144);
  }
}
