.hero {
  width: 100%;
  position: relative;
  height: 750px;
  aspect-ratio: 1728 / 750;
  background-image: url('/images/hero.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom top;

  &__content-wrapper {
    position: absolute;
    top: 265px;
    left: 144px;
  }
}
