.toggle-button {
  height: calculateRem(45);
  padding: 0 calculateRem(18);
  border-radius: calculateRem(10);
  font-weight: 500;
  transition: all 0.2s;
  border: 1px solid transparent;
  
  &.selected {
    background-color: $color-toggle-active;
    border-color: $color-primary;
    color: $color-primary;
  }
  
  &.unselected {
    background-color: $background;
    color: $color-primary;
  }
  
  &:hover:not(:disabled) {
    background-color: $color-primary;
    color: $background;
  }
  
  &:active:not(:disabled) {
    background-color: $color-toggle-active;
    border-color: $color-primary;
    color: $color-primary;
  }
  
  &:disabled {
    background-color: $color-toggle-disabled;
    color: $color-toggle-disabled-text;
    border: 0;
    cursor: not-allowed;
  }
}
