.journal-issue-card {
  display: flex;
  flex-direction: column;
  width: calculateRem(465);
  height: calculateRem(320);
  background-color: $background;
  padding: calculateRem(16);
  border-radius: calculateRem(20);
  border: 1px solid #e9f4f8;
  overflow: hidden;

  &__wrapper {
    display: flex;
    flex-direction: row;
    gap: calculateRem(15);
    height: 100%;
    width: 100%;
  }

  &__image {
    aspect-ratio: 191.32 / 285;
    width: 100%;
    max-width: calculateRem(191.32);
    height: auto;
    object-fit: contain;
    border-radius: calculateRem(16);
    flex-shrink: 0;
  }

  &__pdf-icon {
    width: calculateRem(22);
    height: calculateRem(24);
    color: $color-gray;
  }

  &__title {
    font-size: calculateRem(20);
    line-height: calculateRem(25);
    font-weight: bold;
    color: $color-primary;
    margin: 0;
  }

  ยง__icon {
    width: calculateRem(17);
    height: calculateRem(17);
    color: $color-black;
  }

  &__info-text {
    font-size: calculateRem(16);
    line-height: calculateRem(18);
    color: $color-black;
    margin: 0;
  }
}
