.drawer {
  &.offcanvas {
    @media (max-width: $breakpoint-sm) {
      --bs-offcanvas-width: 100vw;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: calculateRem(16);
    border-bottom: 1px solid $color-stroke;
  }

  &__title {
    font-size: calculateRem(20);
    font-weight: 700;
    color: $color-dark;
    margin: 0;
  }

  &__close-button {
    margin-left: auto;
  }

  &__body {
    padding: calculateRem(20);
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    max-height: calc(100vh - 80px);
  }
}
