.badge-custom {
  padding: 0.375rem 0.75rem;
  border-radius: 50px;
  font-weight: 500;
  font-size: 0.875rem;

  &.badge-info {
    background-color: $color-info;
    color: $background;
  }

  &.badge-primary {
    background-color: $color-primary;
    color: $background;
  }

  &.badge-warning {
    background-color: $color-warning;
    color: $background;
  }

  &.badge-success {
    background-color: $color-success;
    color: $background;
  }

  &.badge-soft {
    background-color: $color-badge-soft-bg;
    color: $color-badge-soft-text;
  }
}
