.badge-custom {
  padding: calculateRem(6) calculateRem(12);
  border-radius: calculateRem(50);
  font-weight: 500;
  width: fit-content;
  font-size: calculateRem(14);

  &.badge-info {
    background-color: $color-info;
    color: $background;
  }

  &.badge-primary {
    background-color: $color-primary;
    color: $background;
  }

  &.badge-warning {
    background-color: $color-warning;
    color: $background;
  }

  &.badge-success {
    background-color: $color-success;
    color: $background;
  }

  &.badge-soft {
    background-color: $color-badge-soft-bg;
    color: $color-badge-soft-text;
  }
}
