.badge-custom {
  padding: 0.375rem 0.75rem;
  border-radius: 50px;
  font-weight: 500;
  font-size: 0.875rem;
  
  &.badge-info {
    background-color: var(--color-info);
    color: white;
  }
  
  &.badge-primary {
    background-color: var(--color-primary);
    color: white;
  }
  
  &.badge-warning {
    background-color: var(--color-warning);
    color: white;
  }
  
  &.badge-success {
    background-color: var(--color-success);
    color: white;
  }
  
  &.badge-soft {
    background-color: #F6F8FF;
    color: #112053;
  }
}
