$footer-bg: #161f3c;

.footer {
  width: 100%;
  position: relative;
  margin-top: auto;
  z-index: 1;

  &__background {
    width: 100%;
    height: auto;
    min-height: calculateRem(279);
    background-color: $footer-bg;
    padding: calculateRem(40) calculateRem(16) calculateRem(30);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    padding: 0 calculateRem(16);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calculateRem(30);
  }
}

@media (min-width: $breakpoint-md) {
  .footer {
    &__content {
      padding: 0 calculateRem(20);
    }
  }
}

@media (min-width: $breakpoint-xl) {
  .footer {
    &__background {
      height: calculateRem(279);
      padding: calculateRem(55) 0 0;
    }

    &__content {
      gap: calculateRem(40);
      padding: 0 calculateRem(139);
    }
  }
}
