.footer-copyright {
  width: 100%;
  height: calculateRem(39);
  background-color: $color-danger;
  display: flex;
  align-items: center;
  justify-content: center;

  &__text {
    font-size: calculateRem(15.5);
    line-height: calculateRem(19);
    font-weight: 400;
    text-align: center;
    color: $color-white;
    margin: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 0 calculateRem(16);
  }
}

@media (max-width: $breakpoint-mobile) {
  .footer-copyright {
    height: auto;
    min-height: calculateRem(39);
    padding: calculateRem(12) 0;

    &__text {
      font-size: calculateRem(13);
      line-height: calculateRem(16);
      padding: 0 calculateRem(12);
    }
  }
}
