.journal-issues-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: calculateRem(20);

  &__title-container {
    display: flex;
    flex-direction: column;
    gap: calculateRem(16);
    width: 100%;
  }

  &__title-wrapper {
    display: flex;
    flex-direction: column;
    gap: calculateRem(8);
  }

  &__title {
    margin: 0;
    font-size: calculateRem(18);
    font-weight: 400;
    color: $color-gray;
  }

  &__subtitle {
    font-size: calculateRem(22);
    margin: 0;
    font-weight: 700;
    color: $color-primary;
  }

  &__pagination-buttons {
    display: flex;
    align-items: center;
    gap: calculateRem(8);
    align-self: flex-start;
    margin-top: calculateRem(4);
  }

  &__button {
    align-self: stretch;
    width: 100%;
  }
}

@media (min-width: $breakpoint-md) {
  .journal-issues-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;

    &__title-container {
      flex-direction: row;
      gap: calculateRem(19);
      width: auto;
    }

    &__title-wrapper {
      gap: calculateRem(12);
    }

    &__title {
      font-size: calculateRem(22);
    }

    &__subtitle {
      font-size: calculateRem(28);
    }

    &__pagination-buttons {
      align-self: flex-end;
      margin-top: 0;
    }

    &__button {
      align-self: flex-end;
      width: auto;
    }
  }
}
