.journal-issues-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title-container {
    display: flex;
    flex-direction: row;
    gap: calculateRem(19);
  }

  &__title-wrapper {
    display: flex;
    flex-direction: column;
    gap: calculateRem(12);
  }

  &__title {
    margin: 0;
    font-size: calculateRem(22);
    font-weight: 400;
    color: $color-gray;
  }

  &__subtitle {
    font-size: calculateRem(28);
    margin: 0;
    font-weight: 700;
    color: $color-primary;
  }

  &__pagination-buttons {
    display: flex;
    align-items: center;
    gap: calculateRem(8);
    align-self: flex-end;
  }

  &__button {
    align-self: flex-end;
  }
}

@media (max-width: $breakpoint-mobile) {
  .journal-issues-header {
    flex-direction: column;
    align-items: flex-start;
    gap: calculateRem(20);

    &__title-container {
      flex-direction: column;
      gap: calculateRem(16);
      width: 100%;
    }

    &__title-wrapper {
      gap: calculateRem(8);
    }

    &__title {
      font-size: calculateRem(18);
    }

    &__subtitle {
      font-size: calculateRem(22);
    }

    &__pagination-buttons {
      align-self: flex-start;
      margin-top: calculateRem(4);
    }

    &__button {
      align-self: stretch;
      width: 100%;
    }
  }
}
