.send-article {
  width: 100%;
  position: relative;
  padding: calculateRem(40) calculateRem(20);
  margin-bottom: calculateRem(60);
  background-image: url('/images/send-article-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: calculateRem(350);
  height: auto;

  &__image {
    display: none;
  }

  &__content-wrapper {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    z-index: 1;
    width: 100%;
    max-width: 100%;
    padding: calculateRem(20);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image2 {
    display: none;
  }
}

@media (min-width: $breakpoint-xl) {
  .send-article {
    padding: 0;
    margin-bottom: calculateRem(90);
    background-size: contain;
    background-position: center;
    aspect-ratio: 1440 / 439;
    height: auto;
    min-height: calculateRem(420);

    &__image {
      display: none;
    }

    &__content-wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: calculateRem(25);
    }

    &__image2 {
      display: none;
    }
  }
}

@media (min-width: $breakpoint-xxl) {
  .send-article {
    margin-bottom: calculateRem(128);
    aspect-ratio: 1440 / 439;
    height: auto;
    background-size: contain;
    min-height: calculateRem(439);
    max-width: calculateRem(1440);
    margin-left: auto;
    margin-right: auto;

    &__image {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: calculateRem(514);
      height: 100%;
      aspect-ratio: 514 / 439;
      object-fit: contain;
      object-position: left top;
      z-index: 0;
    }

    &__image2 {
      display: block;
      position: absolute;
      bottom: calculateRem(25);
      right: calculateRem(74);
      width: calculateRem(306);
      max-height: 100%;
      aspect-ratio: 306 / 465;
      object-fit: contain;
      object-position: bottom right;
      z-index: 2;
    }

    &__content-wrapper {
      padding: calculateRem(20);
    }
  }
}
