.send-article {
  width: 100%;
  position: relative;
  padding: 0;
  margin-bottom: calculateRem(128);
  background-image: url('/images/send-article-bg.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-height: calculateRem(439);

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    aspect-ratio: 514 / 439;
    object-fit: contain;
    z-index: 0;
  }

  &__content-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
    max-width: 100%;
    padding: calculateRem(20);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image2 {
    position: absolute;
    bottom: calculateRem(25);
    right: calculateRem(74);
    aspect-ratio: 306 / 465;
    object-fit: contain;
    z-index: 2;
  }
}

@media (min-width: $breakpoint-desktop-xl) and (max-width: 1500px) {
  .send-article {
    min-height: calculateRem(450);
    margin-bottom: calculateRem(100);

    &__image {
      width: calculateRem(450);
      max-width: 35%;
    }

    &__image2 {
      width: calculateRem(250);
      max-width: 20%;
      bottom: calculateRem(30);
      right: calculateRem(60);
    }

    &__content-wrapper {
      padding: calculateRem(25);
    }
  }
}

@media (min-width: 1286px) and (max-width: #{$breakpoint-desktop-xl - 1px}) {
  .send-article {
    min-height: calculateRem(420);
    margin-bottom: calculateRem(90);

    &__image {
      width: calculateRem(400);
      max-width: 38%;
    }

    &__image2 {
      width: calculateRem(220);
      max-width: 22%;
      bottom: calculateRem(25);
      right: calculateRem(50);
    }

    &__content-wrapper {
      padding: calculateRem(25);
    }
  }
}

@media (max-width: 1285px) {
  .send-article {
    min-height: calculateRem(350);
    margin-bottom: calculateRem(60);
    background-size: cover;
    background-position: center;
    padding: calculateRem(40) calculateRem(20);

    &__image {
      display: none;
    }

    &__image2 {
      display: none;
    }

    &__content-wrapper {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
      padding: calculateRem(20);
      width: 100%;
    }
  }
}
