.send-article {
  width: 100%;
  position: relative;
  padding: 0;
  background-image: url('/images/send-article-bg.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-height: calculateRem(439);

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    aspect-ratio: 514 / 439;
    object-fit: contain;
    z-index: 0;
  }

  &__content-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
    max-width: 100%;
    padding: calculateRem(20);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
