@use 'bootstrap/dist/css/bootstrap.css';

html {
  font-size: 16px;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background: $background;
  color: $foreground;
  font-family: var(--font-inter), sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
}

h1 {
  font-size: calculateRem(32);
  line-height: calculateRem(38);
}

h2 {
  font-size: calculateRem(28);
  line-height: calculateRem(36);
}

h3 {
  font-size: calculateRem(26);
  line-height: calculateRem(32);
}

h4 {
  font-size: calculateRem(24);
  line-height: calculateRem(30);
}

h5 {
  font-size: calculateRem(22);
  line-height: calculateRem(28);
}

h6 {
  font-size: calculateRem(20);
  line-height: calculateRem(26);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

// Container responsive breakpoints
@media (min-width: calculateRem(640)) {
  .container {
    max-width: calculateRem(640);
  }
}

@media (min-width: calculateRem(768)) {
  .container {
    max-width: calculateRem(768);
  }
}

@media (min-width: calculateRem(1024)) {
  .container {
    max-width: calculateRem(1024);
  }
}

@media (min-width: calculateRem(1280)) {
  .container {
    max-width: calculateRem(1280);
  }
}

@media (min-width: calculateRem(1440)) {
  .container {
    max-width: calculateRem(1440);
  }
}

@media (min-width: calculateRem(1536)) {
  .container {
    max-width: calculateRem(1440);
  }
}
