@use 'bootstrap/dist/css/bootstrap.css';

html {
  font-size: 16px;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background: $background;
  color: $foreground;
  font-family: var(--font-inter), sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
}

*:focus-visible {
  outline: 2px solid $color-primary;
  outline-offset: 2px;
  border-radius: 2px;
  transform: scale(0.9);
}

button:focus-visible,
a:focus-visible,
input:focus-visible,
select:focus-visible,
textarea:focus-visible {
  outline: 2px solid $color-primary;
  outline-offset: 2px;
}



h1 {
  font-size: calculateRem(32);
  line-height: calculateRem(38);
}

h2 {
  font-size: calculateRem(28);
  line-height: calculateRem(36);
}

h3 {
  font-size: calculateRem(26);
  line-height: calculateRem(32);
}

h4 {
  font-size: calculateRem(24);
  line-height: calculateRem(30);
}

h5 {
  font-size: calculateRem(22);
  line-height: calculateRem(28);
}

h6 {
  font-size: calculateRem(20);
  line-height: calculateRem(26);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

@media (min-width: $breakpoint-sm) {
  .container {
    max-width: $breakpoint-sm;
  }
}

@media (min-width: $breakpoint-md) {
  .container {
    max-width: $breakpoint-md;
  }
}

@media (min-width: $breakpoint-lg) {
  .container {
    max-width: $breakpoint-lg;
  }
}

@media (min-width: $breakpoint-xl) {
  .container {
    max-width: $breakpoint-xl;
  }
}

@media (min-width: $breakpoint-xxl) {
  .container {
    max-width: 1440px;
  }
}
