@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  /* Brand Colors */
  --color-primary: #273D89;
  --color-danger: #DB0D15;
  --color-success: #A8B95E;
  --color-warning: #DE8536;
  --color-info: #00C3D0;
  
  /* Neutral Colors */
  --color-gray: #676A73;
  --color-dark: #2A2C31;
  --color-dark-blue: #081542;
  
  /* Stroke/Border */
  --color-stroke: #ACB1C6;
  
  /* Light Colors */
  --color-light-blue: #C6ECFF;
  --color-light-yellow: #FBF6E3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}
