@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
  
  /* Brand Colors */
  --color-primary: #273D89;
  --color-primary-dark: #0A1742;
  --color-danger: #DB0D15;
  --color-danger-dark: #9D0006;
  --color-success: #A8B95E;
  --color-success-dark: #2B3016;
  --color-warning: #DE8536;
  --color-info: #00C3D0;
  
  /* Neutral Colors */
  --color-gray: #676A73;
  --color-dark: #2A2C31;
  --color-dark-blue: #081542;
  
  /* Stroke/Border */
  --color-stroke: #ACB1C6;
  
  /* Light Colors */
  --color-light-blue: #C6ECFF;
  --color-light-yellow: #FBF6E3;

  --color-toggle-active: #EBEFFF;
  --color-toggle-disabled: #F2F2F2;
  --color-toggle-disabled-text: #B3B3B3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  font-size: 16px;

  min-width: 100vw;
  max-width: 100vw;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  max-width: 100vw;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 32px;
  line-height: 38px;
}

h2 {
  font-size: 28px;
  line-height: 36px;
}

h3 {
  font-size: 26px;
  line-height: 32px;
}

h4 {
  font-size: 24px;
  line-height: 30px;
}

h5 {
  font-size: 22px;
  line-height: 28px;
}

h6 {
  font-size: 20px;
  line-height: 26px;
}
