.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: $color-primary;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    z-index: 1000;
    border-radius: 0 0 4px 0;
    font-weight: 600;
  
    &:focus {
      top: 0;
      outline: 3px solid $color-primary;
      outline-offset: 2px;
    }
  }
