.header-mobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: calculateRem(12);
  width: 100%;
  height: 100%;
  padding: 0 calculateRem(16);

  &__menu-button {
    flex-shrink: 0;
  }

  > div {
    height: calculateRem(50) !important;
    min-width: calculateRem(120);
    max-width: calculateRem(180);
    flex: 1;

    img {
      width: auto !important;
      height: calculateRem(40) !important;
      max-width: 100%;
    }
  }

  @media (min-width: calculateRem(1025)) {
    display: none !important;
  }
}
