.header-mobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: calculateRem(12);
  width: 100%;
  height: 100%;
  padding: 0 calculateRem(16);

  &__menu-button {
    flex-shrink: 0;
  }
}

@media (min-width: $breakpoint-xxl) {
  .header-mobile {
    display: none !important;
  }
}
