.header-mobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: calculateRem(12);
  width: 100%;
  height: 100%;
  padding: 0 calculateRem(16);

  &__menu-button {
    flex-shrink: 0;

    &.btn-outline-default {
      background-color: white;
      border-color: $color-stroke;
      color: $color-dark;

      &:hover {
        background-color: white;
        border-color: $color-stroke;
        color: $color-dark;
      }

      &:active {
        background-color: white;
        border-color: $color-stroke;
        color: $color-dark;
      }

      &:focus {
        background-color: white;
        border-color: $color-stroke;
        color: $color-dark;
      }

      &:focus-visible {
        background-color: white;
        border-color: $color-stroke;
        color: $color-dark;
      }
    }
  }


}

@media (min-width: $breakpoint-xxl) {
  .header-mobile {
    display: none !important;
  }
}
