.header-nav {
  display: none;
}

.header-nav-link {
  font-size: calculateRem(17);
  text-decoration: none;
  color: $color-black;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.8;
  }
}

.home-icon {
  width: calculateRem(24);
  height: calculateRem(24);
  color: $color-success;
}

@media (min-width: $breakpoint-desktop-lg) {
  .header-nav {
    display: block;
  }
}
