$stroke-color: #e9f4f8;
$shadow-color: rgba(188, 188, 188, 0.25);

.latest-articles-card {
  padding: calculateRem(14) calculateRem(20);
  border: 2px solid $stroke-color;
  border-radius: calculateRem(20);
  background-color: $background;
  width: 100%;
  height: 142px;
  box-shadow: 0px calculateRem(5) calculateRem(15) 0px $shadow-color;

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: calculateRem(20);
    padding: calculateRem(5);
    width: 100%;
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: calculateRem(11);
    flex: 1;
    min-width: 0;
  }

  &__badges {
    display: flex;
    flex-direction: row;
    gap: calculateRem(8);
    flex-wrap: wrap;
  }

  &__badge {
    width: fit-content;
    padding: calculateRem(3) calculateRem(10);
    border-radius: calculateRem(8);
  }

  &__title-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calculateRem(11);
  }

  &__pdf-icon {
    width: calculateRem(24);
    height: calculateRem(24);
    margin-left: calculateRem(-3);
    flex-shrink: 0;
    color: $color-gray;
  }

  &__title {
    font-size: calculateRem(20);
    line-height: calculateRem(26);
    font-weight: 700;
    color: $color-dark;
    margin: 0;
    word-wrap: break-word;
  }

  &__info {
    display: flex;
    flex-direction: row;
    gap: calculateRem(25);
  }

  &__info-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calculateRem(8);
  }

  &__info-icon {
    width: calculateRem(16);
    height: calculateRem(16);
    color: $color-gray;
    flex-shrink: 0;
  }

  &__info-text {
    font-size: calculateRem(14);
    line-height: calculateRem(20);
    color: $color-dark;
    margin: 0;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: calculateRem(7);
    flex-shrink: 0;
  }

  &__view-button {
    white-space: nowrap;
  }
}

@media (min-width: calc($breakpoint-mobile + 1px)) and (max-width: $breakpoint-tablet) {
  .latest-articles-card {
    padding: calculateRem(12) calculateRem(18);
    height: 138px;

    &__content {
      gap: calculateRem(18);
      padding: calculateRem(4);
    }

    &__left {
      gap: calculateRem(10);
    }

    &__title {
      font-size: calculateRem(19);
      line-height: calculateRem(25);
    }

    &__info {
      gap: calculateRem(20);
    }

    &__info-text {
      font-size: calculateRem(13);
      line-height: calculateRem(19);
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .latest-articles-card {
    padding: calculateRem(12) calculateRem(16);
    min-height: 142px;
    height: auto;

    &__content {
      flex-direction: column;
      align-items: flex-start;
      gap: calculateRem(16);
      padding: 0;
    }

    &__left {
      gap: calculateRem(10);
      width: 100%;
    }

    &__title-wrapper {
      gap: calculateRem(8);
    }

    &__pdf-icon {
      width: calculateRem(20);
      height: calculateRem(20);
    }

    &__title {
      font-size: calculateRem(18);
      line-height: calculateRem(24);
    }

    &__info {
      flex-direction: column;
      gap: calculateRem(8);
      flex-wrap: wrap;
    }

    &__info-item {
      gap: calculateRem(6);
    }

    &__info-icon {
      width: calculateRem(14);
      height: calculateRem(14);
    }

    &__info-text {
      font-size: calculateRem(13);
      line-height: calculateRem(18);
    }

    &__actions {
      width: 100%;
      justify-content: flex-end;
      flex-wrap: wrap;
      align-items: center;
    }

    &__view-button {
      flex: 1;
      min-width: fit-content;
    }
  }
}
