$stroke-color: #e9f4f8;

.latest-articles-card {
  padding: calculateRem(14) calculateRem(20);
  border: 2px solid $stroke-color;
  border-radius: calculateRem(20);
  background-color: $background;
  width: 100%;
  height: 142px;

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: calculateRem(20);
    padding: calculateRem(5);
    width: 100%;
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: calculateRem(11);
    flex: 1;
    min-width: 0;
  }

  &__badges {
    display: flex;
    flex-direction: row;
    gap: calculateRem(8);
    flex-wrap: wrap;
  }

  &__badge {
    width: fit-content;
    padding: calculateRem(3) calculateRem(10);
    border-radius: calculateRem(8);
  }

  &__title-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calculateRem(11);
  }

  &__pdf-icon {
    width: calculateRem(24);
    height: calculateRem(24);
    margin-left: calculateRem(-3);
    flex-shrink: 0;
    color: $color-gray;
  }

  &__title {
    font-size: calculateRem(20);
    line-height: calculateRem(26);
    font-weight: 700;
    color: $color-dark;
    margin: 0;
    word-wrap: break-word;
  }

  &__info {
    display: flex;
    flex-direction: row;
    gap: calculateRem(25);
  }

  &__info-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calculateRem(8);
  }

  &__info-icon {
    width: calculateRem(16);
    height: calculateRem(16);
    color: $color-gray;
    flex-shrink: 0;
  }

  &__info-text {
    font-size: calculateRem(14);
    line-height: calculateRem(20);
    color: $color-dark;
    margin: 0;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: calculateRem(7);
    flex-shrink: 0;
  }

  &__view-button {
    white-space: nowrap;
  }
}

@media (max-width: calculateRem(768)) {
  .latest-articles-card {
    &__content {
      flex-direction: column;
      align-items: flex-start;
      gap: calculateRem(16);
    }

    &__actions {
      width: 100%;
      justify-content: flex-end;
      flex-wrap: wrap;
    }

    &__view-button {
      flex: 1;
      min-width: fit-content;
    }
  }
}
