.header-logo {
  background-image: none;
  aspect-ratio: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: between;
  width:100%;
}

@media (min-width: $breakpoint-xxl) {
  .header-logo {
    height: calculateRem(135);
    aspect-ratio: 381 / 135;
    background-image: url('/svg/header-reactangle.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left top;
    display:block;
    width: auto;
  }
}
