.header-logo {
  background-image: none !important;
  aspect-ratio: auto !important;
}

@media (min-width: $breakpoint-xxl) {
  .header-logo {
    background-image: initial !important;
    aspect-ratio: initial !important;
  }
}
