.header-logo {
  background-image: none;
  aspect-ratio: auto;
}

@media (min-width: $breakpoint-xxl) {
  .header-logo {
    height: calculateRem(135);
    aspect-ratio: 381 / 135;
    background-image: url('/svg/header-reactangle.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left top;
  }
}
