.send-article-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: calculateRem(555);

  &__icon {
    width: calculateRem(39);
    height: calculateRem(39);
    color: $color-danger;
    transform: rotate(-30deg);
    margin-bottom: calculateRem(8);
  }

  &__title {
    font-size: calculateRem(22);
    line-height: calculateRem(25);
    font-weight: bold;
    color: $color-gray;
  }

  &__subtitle {
    font-size: calculateRem(28);
    line-height: calculateRem(25);
    margin-bottom: calculateRem(30);
    font-weight: bold;
    color: $color-primary;
  }

  &__description {
    font-size: calculateRem(18);
    line-height: calculateRem(25);
    margin-bottom: calculateRem(30);
    color: $color-dark;
  }

  &__button {
    margin-top: calculateRem(16);
  }
}

@media (min-width: #{$breakpoint-mobile + 1px}) and (max-width: $breakpoint-tablet) {
  .send-article-content {
    max-width: calculateRem(500);

    &__title {
      font-size: calculateRem(20);
      line-height: calculateRem(23);
    }

    &__subtitle {
      font-size: calculateRem(24);
      line-height: calculateRem(28);
      margin-bottom: calculateRem(24);
    }

    &__description {
      font-size: calculateRem(16);
      line-height: calculateRem(22);
      margin-bottom: calculateRem(24);
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .send-article-content {
    max-width: 100%;
    width: 100%;

    &__icon {
      width: calculateRem(32);
      height: calculateRem(32);
      margin-bottom: calculateRem(6);
    }

    &__title {
      font-size: calculateRem(18);
      line-height: calculateRem(22);
    }

    &__subtitle {
      font-size: calculateRem(22);
      line-height: calculateRem(26);
      margin-bottom: calculateRem(20);
    }

    &__description {
      font-size: calculateRem(14);
      line-height: calculateRem(20);
      margin-bottom: calculateRem(20);
    }

    &__button {
      margin-top: calculateRem(12);
      width: 100%;
    }
  }
}
