.send-article-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: calculateRem(555);

  &__icon {
    width: calculateRem(39);
    height: calculateRem(39);
    color: $color-danger;
    transform: rotate(-30deg);
    margin-bottom: calculateRem(8);
  }

  &__title {
    font-size: calculateRem(22);
    line-height: calculateRem(25);
    font-weight: bold;
    color: $color-gray;
  }

  &__subtitle {
    font-size: calculateRem(28);
    line-height: calculateRem(25);
    margin-bottom: calculateRem(30);
    font-weight: bold;
    color: $color-primary;
  }

  &__description {
    font-size: calculateRem(18);
    line-height: calculateRem(25);
    margin-bottom: calculateRem(30);
    color: $color-dark;
  }

  &__button {
    margin-top: calculateRem(16);
  }
}

// Desktop XL (1440px - 1500px)
@media (min-width: $breakpoint-desktop-xl) and (max-width: 1500px) {
  .send-article-content {
    max-width: calculateRem(520);

    &__title {
      font-size: calculateRem(21);
      line-height: calculateRem(24);
    }

    &__subtitle {
      font-size: calculateRem(27);
      line-height: calculateRem(30);
      margin-bottom: calculateRem(28);
    }

    &__description {
      font-size: calculateRem(17);
      line-height: calculateRem(24);
      margin-bottom: calculateRem(28);
    }
  }
}

// Desktop LG (1286px - 1439px)
@media (min-width: 1286px) and (max-width: #{$breakpoint-desktop-xl - 1px}) {
  .send-article-content {
    max-width: calculateRem(510);

    &__title {
      font-size: calculateRem(21);
      line-height: calculateRem(24);
    }

    &__subtitle {
      font-size: calculateRem(26);
      line-height: calculateRem(29);
      margin-bottom: calculateRem(26);
    }

    &__description {
      font-size: calculateRem(17);
      line-height: calculateRem(23);
      margin-bottom: calculateRem(26);
    }
  }
}

// Mobile view up to 1285px (includes tablet and small desktop)
@media (max-width: 1285px) {
  .send-article-content {
    max-width: 100%;
    width: 100%;

    &__icon {
      width: calculateRem(32);
      height: calculateRem(32);
      margin-bottom: calculateRem(6);
    }

    &__title {
      font-size: calculateRem(18);
      line-height: calculateRem(22);
    }

    &__subtitle {
      font-size: calculateRem(22);
      line-height: calculateRem(26);
      margin-bottom: calculateRem(20);
    }

    &__description {
      font-size: calculateRem(14);
      line-height: calculateRem(20);
      margin-bottom: calculateRem(20);
    }

    &__button {
      margin-top: calculateRem(12);
      width: 100%;
    }
  }
}
