.hero-content {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: calculateRem(12);

  &__title {
    color: $color-hero-title;
    font-size: calculateRem(24);
    line-height: calculateRem(32);
    font-weight: bold;
  }

  &__description {
    color: $color-white;
    font-size: calculateRem(14);
    line-height: calculateRem(20);
    font-weight: 500;
  }

  &__info-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: calculateRem(16);
  }

  &__info-item {
    display: flex;
    align-items: center;
    gap: calculateRem(6);
  }

  &__icon {
    width: calculateRem(15);
    height: calculateRem(15);
    color: $color-white;
  }

  &__info-text {
    color: $color-white;
    font-size: calculateRem(14);
    line-height: calculateRem(16);
    font-weight: 500;

    strong {
      font-weight: bold;
    }
  }

  &__date-text {
    color: $color-white;
    font-size: calculateRem(14);
    line-height: calculateRem(16);
    font-weight: bold;
  }

  &__button {
    width: 100%;
    margin-top: calculateRem(8);
  }
}

@media (min-width: $breakpoint-md) {
  .hero-content {
    max-width: calculateRem(550);
    gap: calculateRem(16);

    &__title {
      font-size: calculateRem(30);
      line-height: calculateRem(38);
    }

    &__description {
      font-size: calculateRem(17);
      line-height: calculateRem(24);
    }

    &__info-group {
      flex-direction: row;
      align-items: center;
      gap: calculateRem(32);
      flex-wrap: nowrap;
    }

    &__info-item {
      gap: calculateRem(8);
    }

    &__icon {
      width: calculateRem(17);
      height: calculateRem(17);
    }

    &__info-text,
    &__date-text {
      font-size: calculateRem(16);
      line-height: calculateRem(18);
    }

    &__button {
      width: auto;
      margin-top: auto;
    }
  }
}

@media (min-width: $breakpoint-xl) {
  .hero-content {
    width: 100%;
    max-width: calculateRem(500);
    height: auto;
    gap: calculateRem(14);

    &__title {
      font-size: calculateRem(28);
      line-height: calculateRem(36);
    }

    &__description {
      font-size: calculateRem(16);
      line-height: calculateRem(22);
    }

    &__info-group {
      gap: calculateRem(24);
      flex-wrap: wrap;
    }
  }
}

@media (min-width: $breakpoint-xxl) {
  .hero-content {
    width: calculateRem(397);
    height: calculateRem(316);
    gap: calculateRem(17);

    &__title {
      font-size: calculateRem(32);
      line-height: calculateRem(40);
    }

    &__description {
      font-size: calculateRem(18);
      line-height: calculateRem(25);
    }

    &__info-group {
      gap: calculateRem(40);
      flex-wrap: nowrap;
    }
  }
}
