.hero-content {
  width: calculateRem(397);
  height: calculateRem(316);
  display: flex;
  flex-direction: column;
  gap: calculateRem(17);

  &__title {
    color: $color-hero-title;
    font-size: calculateRem(32);
    line-height: calculateRem(40);
    font-weight: bold;
  }

  &__description {
    color: $color-white;
    font-size: calculateRem(18);
    line-height: calculateRem(25);
    font-weight: 500;
  }

  &__info-group {
    display: flex;
    align-items: center;
    gap: calculateRem(40);
  }

  &__info-item {
    display: flex;
    align-items: center;
    gap: calculateRem(8);
  }

  &__icon {
    width: calculateRem(17);
    height: calculateRem(17);
    color: $color-white;
  }

  &__info-text {
    color: $color-white;
    font-size: calculateRem(16);
    line-height: calculateRem(18);
    font-weight: 500;

    strong {
      font-weight: bold;
    }
  }

  &__date-text {
    color: $color-white;
    font-size: calculateRem(16);
    line-height: calculateRem(18);
    font-weight: bold;
  }

  &__button {
    margin-top: auto;
  }
}
