.latest-articles {
  width: 100%;
  padding-bottom: calculateRem(160);

  &__content-wrapper {
    display: flex;
    flex-direction: row;
    gap: calculateRem(23);
    align-items: flex-start;
  }
}

// Desktop medium (1025px - 1279px)
@media (min-width: $breakpoint-desktop) and (max-width: #{$breakpoint-desktop-lg - 1px}) {
  .latest-articles {
    padding-bottom: calculateRem(140);

    &__content-wrapper {
      gap: calculateRem(18);
      flex-wrap: wrap;
    }
  }
}

// Tablet (769px - 1024px)
@media (min-width: #{$breakpoint-mobile + 1px}) and (max-width: $breakpoint-tablet) {
  .latest-articles {
    padding-bottom: calculateRem(120);

    &__content-wrapper {
      flex-direction: column;
      gap: calculateRem(40);
    }
  }
}

// Mobile (max 768px)
@media (max-width: $breakpoint-mobile) {
  .latest-articles {
    padding-bottom: calculateRem(120);
    padding-left: calculateRem(16);
    padding-right: calculateRem(16);

    &__content-wrapper {
      flex-direction: column;
      gap: calculateRem(32);
    }
  }
}
