.latest-articles {
  width: 100%;
  padding-bottom: calculateRem(160);

  &__content-wrapper {
    display: flex;
    flex-direction: row;
    gap: calculateRem(23);
    align-items: flex-start;
  }
}

@media (max-width: calculateRem(1024)) {
  .latest-articles {
    &__content-wrapper {
      flex-direction: column;
      gap: calculateRem(40);
    }
  }
}
