.latest-articles {
  width: 100%;
  padding-bottom: calculateRem(120);
  padding-left: calculateRem(16);
  padding-right: calculateRem(16);

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    gap: calculateRem(32);
    align-items: flex-start;
  }
}

@media (min-width: $breakpoint-md) {
  .latest-articles {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: calculateRem(120);

    &__content-wrapper {
      gap: calculateRem(40);
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .latest-articles {
    &__content-wrapper {
      flex-direction: row;
      gap: calculateRem(16);
      flex-wrap: wrap;
    }
  }
}

@media (min-width: $breakpoint-xl) {
  .latest-articles {
    padding-bottom: calculateRem(130);

    &__content-wrapper {
      flex-direction: row;
      gap: calculateRem(16);
      flex-wrap: wrap;
    }
  }
}

@media (min-width: $breakpoint-xxl) {
  .latest-articles {
    padding-bottom: calculateRem(140);

    &__content-wrapper {
      gap: calculateRem(18);
    }
  }
}

@media (min-width: $breakpoint-xxl) {
  .latest-articles {
    padding-bottom: calculateRem(160);

    &__content-wrapper {
      gap: calculateRem(23);
      flex-wrap: nowrap;
    }
  }
}
