.latest-articles {
  width: 100%;
  padding-bottom: calculateRem(160);

  &__content-wrapper {
    display: flex;
    flex-direction: row;
    gap: calculateRem(23);
    align-items: flex-start;
  }
}

@media (min-width: calc($breakpoint-mobile + 1px)) and (max-width: $breakpoint-tablet) {
  .latest-articles {
    padding-bottom: calculateRem(120);

    &__content-wrapper {
      flex-direction: column;
      gap: calculateRem(40);
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .latest-articles {
    padding-bottom: calculateRem(120);

    &__content-wrapper {
      flex-direction: column;
      gap: calculateRem(32);
    }
  }
}
