.hero-journal {
  background-color: $background;

  &__container {
    display: flex;
    align-items: flex-start;
    gap: calculateRem(20);
    position: relative;
  }

  &__image-wrapper {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    position: absolute;
    top: calculateRem(-300);
    right: 0;
  }

  &__image {
    aspect-ratio: 739 / 696;
    rotate: 8deg;
    transform: rotate(8deg);
    transition: transform 0.3s ease;
  }

  &__content {
    padding-top: calculateRem(99);
    padding-bottom: calculateRem(74);
    margin-right: calculateRem(56);
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: calculateRem(24);
    max-width: calculateRem(600);
  }

  &__subtitle {
    font-size: calculateRem(16);
    line-height: calculateRem(24);
    font-weight: 500;
    color: $color-dark;
    margin: 0;
  }

  &__title {
    font-size: calculateRem(32);
    line-height: calculateRem(40);
    font-weight: bold;
    color: $color-primary;
    margin: 0;
  }

  &__description {
    font-size: calculateRem(16);
    line-height: calculateRem(24);
    font-weight: 400;
    color: $foreground;
    margin: 0;
  }

  &__button {
    align-self: flex-start;
    margin-top: calculateRem(8);
  }
}

@media (max-width: calculateRem(1024)) {
  .hero-journal {
    &__container {
      flex-direction: column;
      gap: calculateRem(40);
    }

    &__content {
      max-width: 100%;
      text-align: center;
    }

    &__button {
      align-self: center;
    }
  }
}
