.hero-journal {
  background-color: $background;
  padding-left: calculateRem(16);
  padding-right: calculateRem(16);

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: calculateRem(30);
    position: relative;
  }

  &__image-wrapper {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    position: relative;
  }

  &__image {
    width: 100%;
    max-width: calculateRem(350);
    aspect-ratio: 739 / 696;
    transform: rotate(8deg);
    transition: transform 0.3s ease;
    height: auto;
  }

  &__content {
    padding-top: calculateRem(40);
    padding-bottom: calculateRem(40);
    margin-right: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: calculateRem(16);
    max-width: 100%;
    text-align: center;
  }

  &__subtitle {
    font-size: calculateRem(14);
    line-height: calculateRem(20);
    font-weight: 500;
    color: $color-dark;
    margin: 0;
  }

  &__title {
    font-size: calculateRem(24);
    line-height: calculateRem(32);
    font-weight: bold;
    color: $color-primary;
    margin: 0;
  }

  &__description {
    font-size: calculateRem(14);
    line-height: calculateRem(20);
    font-weight: 400;
    color: $foreground;
    margin: 0;
  }

  &__button {
    align-self: center;
    margin-top: calculateRem(8);
  }
}

@media (min-width: $breakpoint-md) {
  .hero-journal {
    padding-left: 0;
    padding-right: 0;

    &__container {
      gap: calculateRem(50);
    }

    &__content {
      padding-top: calculateRem(80);
      padding-bottom: calculateRem(60);
      gap: calculateRem(20);
    }

    &__title {
      font-size: calculateRem(28);
      line-height: calculateRem(36);
    }

    &__image {
      max-width: calculateRem(600);
    }
  }
}

@media (min-width: $breakpoint-xl) {
  .hero-journal {
    &__container {
      flex-direction: column;
      gap: calculateRem(40);
    }

    &__content {
      max-width: 100%;
      text-align: center;
      padding-top: calculateRem(60);
      padding-bottom: calculateRem(50);
    }

    &__image {
      width: 100%;
      max-width: calculateRem(500);
    }
  }
}

@media (min-width: $breakpoint-xxl) {
  .hero-journal {
    &__container {
      flex-direction: row;
      align-items: flex-start;
      gap: calculateRem(20);
    }

    &__image-wrapper {
      position: absolute;
      top: calculateRem(-300);
      right: 0;
      margin-top: 0;
    }

    &__image {
      width: 739px;
      height: 696px;
      object-fit: contain;
      max-width: none;
    }

    &__content {
      padding-top: calculateRem(99);
      padding-bottom: calculateRem(74);
      margin-right: calculateRem(56);
      max-width: calculateRem(600);
      text-align: left;
    }

    &__subtitle {
      font-size: calculateRem(16);
      line-height: calculateRem(24);
    }

    &__title {
      font-size: calculateRem(32);
      line-height: calculateRem(40);
    }

    &__description {
      font-size: calculateRem(16);
      line-height: calculateRem(24);
    }

    &__button {
      align-self: flex-start;
    }
  }
}
