.header-nav-link {
  font-size: 17px;
  text-decoration: none;
  color: $color-black;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.8;
  }
}

.home-icon {
  width: 24px;
  height: 24px;
  color: $color-success;
}
