$stroke-color: #ffd9da;

.latest-journal-card {
  padding: calculateRem(14) calculateRem(19);
  border: 5px solid $stroke-color;
  border-radius: calculateRem(25);
  width: fit-content;

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    gap: calculateRem(25);
  }

  &__buttons {
    display: flex;
    gap: calculateRem(7);
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
