$stroke-color: #ffd9da;

.latest-journal-card {
  position: relative;
  padding: calculateRem(14) calculateRem(19);
  border: 5px solid $stroke-color;
  border-radius: calculateRem(25);
  width: fit-content;

  &__image {
    aspect-ratio: 428 / 641;
    object-fit: contain;
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    gap: calculateRem(25);
  }

  &__buttons {
    display: flex;
    gap: calculateRem(7);
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

@media (min-width: calc($breakpoint-mobile + 1px)) and (max-width: $breakpoint-tablet) {
  .latest-journal-card {
    width: 100%;
    max-width: calculateRem(400);
    padding: calculateRem(12) calculateRem(16);

    &__image {
      width: 100%;
      max-width: calculateRem(428);
      height: auto;
    }

    &__content-wrapper {
      gap: calculateRem(20);
    }

    &__buttons {
      gap: calculateRem(6);
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .latest-journal-card {
    width: 100%;
    padding: calculateRem(10) calculateRem(14);
    border-width: 3px;

    &__image {
      width: 100%;
      max-width: calculateRem(428);
      height: auto;
    }

    &__content-wrapper {
      gap: calculateRem(16);
    }

    &__buttons {
      flex-direction: row;
      gap: calculateRem(8);
      flex-wrap: wrap;

      button {
        flex: 1;
        min-width: fit-content;
      }
    }
  }
}
