$stroke-color: #ffd9da;

.latest-journal-card {
  position: relative;
  width: 100%;
  padding: calculateRem(10) calculateRem(14);
  border: 3px solid $stroke-color;
  border-radius: calculateRem(25);

  &__image {
    width: 100%;
    aspect-ratio: 428 / 641;
    object-fit: contain;
    height: auto;
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    gap: calculateRem(16);
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    gap: calculateRem(8);
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;

    button {
      flex: 1;
      min-width: fit-content;
    }
  }
}

@media (min-width: #{$breakpoint-mobile + 1px}) {
  .latest-journal-card {
    padding: calculateRem(12) calculateRem(16);
    border-width: 5px;

    &__content-wrapper {
      gap: calculateRem(20);
    }

    &__buttons {
      gap: calculateRem(6);
      flex-wrap: nowrap;

      button {
        flex: none;
      }
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .latest-journal-card {
    width: fit-content;
    max-width: 100%;

    &__content-wrapper {
      gap: calculateRem(18);
    }
  }
}

@media (min-width: $breakpoint-desktop-lg) {
  .latest-journal-card {
    &__content-wrapper {
      gap: calculateRem(20);
    }
  }
}

@media (min-width: $breakpoint-desktop-xl) {
  .latest-journal-card {
    padding: calculateRem(14) calculateRem(19);

    &__content-wrapper {
      gap: calculateRem(25);
    }

    &__buttons {
      gap: calculateRem(7);
    }
  }
}
