.page-info-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: calculateRem(6);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  &:focus-visible {
    outline: 2px solid $color-primary;
    outline-offset: 2px;
    border-radius: calculateRem(4);
  }

  &__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calculateRem(20);
    height: calculateRem(20);
    background-color: #F0F0F3;
    border-radius: 50%;
    flex-shrink: 0;
  }

  &__icon {
    width: calculateRem(14);
    height: calculateRem(14);
    color: $color-dark;
  }

  &__text {
    font-size: calculateRem(13);
    line-height: calculateRem(18);
    color: $color-dark;
    margin: 0;
  }
}

@media (min-width: $breakpoint-md) {
  .page-info-button {
    gap: calculateRem(8);

    &__icon-wrapper {
      width: calculateRem(24);
      height: calculateRem(24);
    }

    &__icon {
      width: calculateRem(16);
      height: calculateRem(16);
    }

    &__text {
      font-size: calculateRem(13);
      line-height: calculateRem(19);
    }
  }
}

@media (min-width: $breakpoint-xxl) {
  .page-info-button {
    &__text {
      font-size: calculateRem(14);
      line-height: calculateRem(20);
    }
  }
}
