.pagination-button {
  height: calculateRem(40);
  width: calculateRem(40);
  border-radius: calculateRem(15);
  font-weight: 500;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  
  &.selected {
    background-color: $color-primary;
    color: $background;
  }
  
  &.unselected {
    background-color: $color-pagination-bg;
    color: $color-pagination-text;
    
    &:hover:not(:disabled) {
      background-color: $color-primary;
      color: $background;
    }
  }
  
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
