@use './Pagination.shared.scss' as *;

.pagination {
  display: flex;
  align-items: center;
  gap: calculateRem(8);

  &__button {
    @include pagination-button-base;
    @include pagination-button-states;
  }
}
