.footer-legal {
  display: flex;
  flex-direction: column;
  gap: calculateRem(20);
  width: 100%;

  &__divider {
    width: 100%;
    height: 0;
    border: 0.5px solid $color-stroke;
  }

  &__text {
    font-size: calculateRem(15);
    line-height: calculateRem(18);
    font-weight: 300;
    font-style: italic;
    text-align: center;
    color: $color-white;
    margin: 0;
  }
}
