.header {
  width: 100%;
  background-color: $background;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: calculateRem(135);

  &__desktop-content {
    @media (max-width: $breakpoint-tablet) {
      display: none !important;
    }
  }

  @media (max-width: $breakpoint-mobile) {
    height: calculateRem(70);
    background-color: $color-primary;
  }
}
