@use '../../../styles/variables' as *;

.header {
  width: 100%;
  background-color: $color-primary;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: calculateRem(70);

  &__desktop-content {
    display: none !important;
  }
}

@media (min-width: $breakpoint-xxl) {
  .header {
    background-color: $background;
    height: calculateRem(135);

    &__desktop-content {
      display: block !important;
    }
  }
}
