$base-font-size: 16px;

$color-primary: #273d89;
$color-primary-dark: #0a1742;
$color-danger: #db0d15;
$color-danger-dark: #9d0006;
$color-success: #a8b95e;
$color-success-dark: #2b3016;
$color-warning: #de8536;
$color-info: #00c3d0;

$color-gray: #676a73;
$color-dark: #2a2c31;
$color-dark-blue: #081542;

$color-stroke: #acb1c6;

$color-light-blue: #c6ecff;
$color-light-yellow: #fbf6e3;

$color-pagination-bg: #f5f7ff;
$color-pagination-text: #666e8b;

$color-badge-soft-bg: #f6f8ff;
$color-badge-soft-text: #112053;

$color-toggle-active: #ebefff;
$color-toggle-disabled: #f2f2f2;
$color-toggle-disabled-text: #b3b3b3;

$color-hero-title: #daefff;

$background: #ffffff;
$foreground: #171717;
$background-dark: #0a0a0a;
$foreground-dark: #ededed;

$color-white: #ffffff;

$color-black: #000000;

$container-max-width: 90rem;

$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1025px;
$breakpoint-desktop-lg: 1280px;
$breakpoint-desktop-xl: 1440px;
$breakpoint-desktop-2xl: 1536px;
