.journal-issues {
  width: 100%;
  padding-top: 0;
  padding-bottom: calculateRem(80);

  &__container {
    display: flex;
    flex-direction: column;
    gap: calculateRem(35);
  }
}

@media (max-width: $breakpoint-mobile) {
  .journal-issues {
    padding-bottom: calculateRem(40);
    padding-left: calculateRem(16);
    padding-right: calculateRem(16);

    &__container {
      gap: calculateRem(24);
    }
  }
}
